.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes hello {
  0% {
    opacity: 0.1;
    line-height: 0%;
  }
  100% {
    opacity: 0.5;
    line-height: 100%;
  }
}

.new {
  color: red;
  animation: hello 350ms ease;
}
